<% provide(:button_text, 'Save') %>
<% @job = Job.find(@entry.job_id) %>
<h1>Editing Entry</h1>

<%= render 'form', entry: @entry %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>
