<h3>Show all <%= pluralize(@cities.count, 'city') %></h3>

<ul class='list-group'>
  <% @cities.each do |city| %>
        <li class = 'list-group-item'>
          <%= city.name %>
          <%= link_to pluralize(city.jobs.count, 'job'),
                      controller: 'jobs',
                      action: 'jobs_in_city',
                      slug: city.slug %>
        </li>
  <% end %>
</ul>