<h4><%= @city.name %> have <%= pluralize(number_of_jobs_in_city(@city.id), 'job') %></h4> 
<%#= link_to 'Back', city_jobs_path %>
<div class='container'>
  <div class='jobs-list'>
    <ul>
      <%= paginate @jobs, outer_window: 3 %>
      <%= render @jobs %>
    </ul>
  </div>
</div>