<div class="row">
  <aside class="col-md-16">
    <section class="user_info">
    <h2>Job detail</h2>
    
    <h4>
      <%= @job.title %>
    </h4>

    <p>
      <%= @job.description %>
    </p>
    </section> 
  </aside>
</div>
